

.navbar-brand {
    font-size: 1.5rem;
    margin-left: 2rem !important;
    font-weight: 600;
  }
    
  
  a.nav-link {
      font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-weight: 500;
  }
  
  .navbar-collapse {
  
   text-align: center;
  }