
  
  .hero-header {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    font-size: 64px;
    font-weight: 700;
    width: 100%;
    margin: 10rem 0 2rem 5rem;
}
  

  .hero-subheader {
    color: #878493;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0 0 2rem 5rem;
    line-height: 30px;
    max-height: 200px;
  }
  .hero-button-text {
    background-color: #7232b6 !important;
    outline-color: none !important;
    border-color: #5d2896 !important;
    margin: 1rem 0 2rem 5rem ;
    width: 220px;
    height: 65px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 0.50rem;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.hero-button-text:hover{
      background-color: #A568E4 !important;
    }
  .text-responsive {
    font-size: calc(100% + 3vw + 0.3vh);
  }
  
  