<app-home-nav></app-home-nav>
<div>
  <h1 class="hero-header text-responsive">
    Helping you get fit, <br />and fitter everyday.
  </h1>
  <h5 class="hero-subheader">
    An extensive, and detailed exercise library to help you get <br />
    better at exercising, exery step of the way.
  </h5>
  <button class="hero-button-text btn btn-secondary">
    Click Here to Start
  </button>
</div>
<section class="mid-background-img">
  <div class="middle-section"> 
  <div class="text-center">
    <p class="middle-section-number">1</p>
    <p class="middle-section-sub-text">Set Clear, Concise Goals.</p>
    <p class="middle-section-header">From Goals to Results</p>
    <hr class="divider" />

    <p class="middle-section-paragraph">
      If you are new to the fitness world world, you know that it can be
      challenging. But we are here to help. Begin by setting up your personal
      goals, then create an account.
    </p>
  </div>

  <div class="mid-containers">
      <div class="mid-container-item">
        <p class="mid-container-headers">Stretch More Often</p>
        <p class="mid-container-texts">Stretching is very important. 
          Stretch as often as possible, especially before exercising.</p>
      </div>
      <div class="mid-container-item">
        <p class="mid-container-headers">Breathe... Breathe</p>
        <p class="mid-container-texts">You may find yourself holding your breathe... let it go. In through the nose, out through the mouth.</p>
      </div>
      <div class="mid-container-item">
        <p class="mid-container-headers">Container Left Heading</p>
        <p class="mid-container-texts">Container text container text container text</p>
      </div>
      <div class="mid-container-item">
        <p class="mid-container-headers">Container Right Heading</p>
        <p class="mid-container-texts">Container text container text container text</p>
      </div>
  </div>
  </div>
</section>
